<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcutils.hcutils"
    >
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--android 9.0上使用前台服务，需要添加权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <activity android:name=".UnreadActivty"
            >
        </activity>

        <activity android:name=".FragmentDialogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.hcutils.hclibrary.Chat.VoiceKSDHActiivty"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Fullscreen"
            ></activity>
        <activity android:name="com.hcutils.hclibrary.Chat.VoiceActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Fullscreen"
            ></activity>
        <activity android:name="com.hcutils.hclibrary.Chat.VideoKSDHActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Fullscreen"
            ></activity>
        <activity android:name=".TestActivity"></activity>
        <activity android:name="com.hcutils.hclibrary.Chat.VideoActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Fullscreen"
            ></activity>
        <activity android:name="com.hcutils.hclibrary.Chat.BaseChatVideoActivity"></activity>
        <activity android:name="com.hcutils.hclibrary.Chat.BaseChatActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Fullscreen"
            ></activity>
        <activity android:name="com.hcutils.hclibrary.Chat.HcUtisBaseActivty"></activity>

<!--        <provider-->
<!--            android:name="android.support.v4.content.FileProvider"-->
<!--            android:authorities="com.jhx.hzn.fileProvider"-->
<!--            android:grantUriPermissions="true"-->
<!--            android:exported="false">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/file_paths" />-->
<!--        </provider>-->
        <service
            android:name="com.hcutils.hclibrary.Chat.ForegroundService"
            android:enabled="true" />
    </application>

</manifest>